.header{
    width: 100vw;
    height: auto;
    background-color: rgb(255, 155, 127);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-direction: column;
}

.header > h1 {
    width: 40%;
}

.header > nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}


.header > nav > ul {
width: 30%;
display: flex;
position: none;
justify-content: space-around;
}