body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Cambia la fuente si lo deseas */
  background-color: #f0f0f0; /* Color de fondo */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
